body {
  font-family: "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", serif;
}

header {
  background-color: #333;
  color: #f2f2f2;

  h1 {
    text-align: center;
    font-size: 1.5em;
    font-weight: normal;
  }

  nav {
    background-color: lightgray;

    ul li {
      display: inline;
    }
  }
}

h1 > a {
  color: #000000;
  text-decoration: none;
}

div.title > p {
  font-size: smaller;
  font-style: italic;
}

code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

footer {
  font-style: italic;
  font-size: smaller;
}

article.page > section > p > img {
  width: 384px;
  height: 384px;
}