body {
  font-family: Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
}

header {
  background-color: #333;
  color: #f2f2f2;
  font-family: 'PT Serif', Georgia, 'Helvetica Neue', Arial, sans-serif;

  h1 {
    text-align: center;
    font-weight: normal;
  }

  nav {
    background-color: lightgray;

    ul li {
      display: inline;
    }
  }
}

h1 > a {
  color: #000000;
  text-decoration: none;
}

div.title > p {
  font-size: smaller;
  font-style: italic;
}

pre > code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

footer {
  font-style: italic;
  font-size: smaller;
}

article.page > section > p > img {
  width: 384px;
  height: 384px;
}