body {
  font-size: 16px;
  font-family: Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
}

code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}